In [1]:
import pandas as pd
import gzip
import yaml

Unzip and read file

In [2]:
with gzip.open('weather.json.gz', 'rb') as f:
    file_content = f.read()

Transform into str

In [3]:
my_bytes = file_content.decode('utf8').split('\n')
ls = []

Sample data for lon and lat

In [4]:
"""
sample = yaml.safe_load(my_bytes[0])
lon, lat = sample['city']['coord']['lon'], sample['city']['coord']['lat']
"""
#print(lon, lat)

"\nsample = yaml.safe_load(my_bytes[0])\nlon, lat = sample['city']['coord']['lon'], sample['city']['coord']['lat']\n"

In [5]:
for ind in range(len(my_bytes)):
    #print(my_bytes[ind])
    if 'BG' in my_bytes[ind]:
        #print(my_bytes[ind])
        ls.append(yaml.safe_load(my_bytes[ind]))

In [6]:
fr = pd.DataFrame(ls)

In [7]:
fr

,city,time,main,wind,clouds,weather
0,"{'id': 453751, 'name': 'Oblast Razgrad', 'find...",1554462308,"{'temp': 291.679, 'pressure': 1013.03, 'humidi...","{'speed': 6.72, 'deg': 145.5}",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '..."
1,"{'id': 453753, 'name': 'Oblast Montana', 'find...",1554462308,"{'temp': 289.82, 'pressure': 966, 'humidity': ...","{'speed': 4.37, 'deg': 90}",{'all': 68},"[{'id': 803, 'main': 'Clouds', 'description': ..."
2,"{'id': 537345, 'name': 'Dugulubgey', 'findname...",1554462309,"{'temp': 285.51, 'pressure': 1019, 'humidity':...","{'speed': 3, 'deg': 90}",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '..."
3,"{'id': 563601, 'name': 'Dzhubga', 'findname': ...",1554462313,"{'temp': 289.179, 'pressure': 1018.59, 'humidi...","{'speed': 0.92, 'deg': 268}",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '..."
4,"{'id': 583969, 'name': 'Aibga', 'findname': 'A...",1554462314,"{'temp': 288.2, 'pressure': 1018, 'humidity': ...","{'speed': 3, 'deg': 280}",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '..."
...,...,...,...,...,...,...
1386,"{'id': 6546695, 'name': 'Khouribga', 'findname...",1554462480,"{'temp': 285.629, 'pressure': 1011.47, 'humidi...","{'speed': 8.17, 'deg': 229.5}",{'all': 92},"[{'id': 500, 'main': 'Rain', 'description': 'l..."
1387,"{'id': 6556822, 'name': 'Trebgast', 'findname'...",1554462486,"{'temp': 281.16, 'pressure': 1005, 'humidity':...","{'speed': 1.97, 'deg': 77}",{'all': 90},"[{'id': 804, 'main': 'Clouds', 'description': ..."
1388,"{'id': 6956552, 'name': 'Асенова махала', 'fin...",1554462490,"{'temp': 292.4, 'pressure': 1011, 'humidity': ...","{'speed': 7.2, 'deg': 160}",{'all': 0},"[{'id': 800, 'main': 'Clear', 'description': '..."
1389,"{'id': 8018743, 'name': 'Babgot', 'findname': ...",1554462504,"{'temp': 294.779, 'pressure': 1011.47, 'humidi...","{'speed': 0.62, 'deg': 30}",{'all': 76},"[{'id': 500, 'main': 'Rain', 'description': 'l..."
1390,"{'id': 8056119, 'name': 'Sibgyi', 'findname': ...",1554462504,"{'temp': 269.979, 'pressure': 1010.03, 'humidi...","{'speed': 0.27, 'deg': 324.5}",{'all': 56},"[{'id': 803, 'main': 'Clouds', 'description': ..."

Date stamp

In [8]:
# import datetime as dt
# dt.date.fromtimestamp(1554462304)

Temp

In [9]:
# fr['main'][0]['temp']-273.15

Condinates

In [10]:
# fr['city'][0]['coord']['lon'], fr['city'][0]['coord']['lat']

In [13]:
import gmaps
gmaps.configure(api_key='AI...')

Figure(layout=FigureLayout(height='420px'))

In [22]:
fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
import gmaps
import gmaps.datasets

gmaps.configure(api_key='AI...') # Fill in with your API key

earthquake_df = gmaps.datasets.load_dataset_as_df('earthquakes')
earthquake_df.head()

    latitude   longitude  magnitude
0  65.193300 -149.072500       1.70
1  38.791832 -122.780830       2.10
2  38.818001 -122.792168       0.48
3  33.601667 -116.727667       0.78
4  37.378334 -118.520836       3.64

In [31]:
locations = earthquake_df[['latitude', 'longitude']]
weights = earthquake_df['magnitude']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html